<!DOCTYPE html>
<html lang="en">

<head>
    <%- include partials/meta %>
    <%- include partials/uni-css %>
    <%- include partials/text-css %>
    <%- include partials/header-css %>
</head>

<body>
  <%- include partials/header-html %>
  <div id="content">
    <h1>404 Error :(</h1>
    <p>Page Not Found</p>
    <p><a href="/">Return Back Home</a></p>
  </div>
  <%- include partials/header-script %>
</body>

</html>
