<!DOCTYPE html>
<html lang="en">

<head>
  <%- include partials/meta %>
  <%- include partials/uni-css %>
  <%- include partials/header-css %>
  <%- include partials/text-css %>
</head>

<body>
  <%- include partials/header-html %>

  <div id="content">
    <h1>About</h1>

    <p>Hello, I'm Liam Rosenfeld. I'll be going into 11th grade for the 2019-20 school year. This is my submission for the
      repl.it music competition.</p>

    <h2>Motivation</h2>

    <p>I play Clarinet and Saxophone in the school band. Throughout my dealings with music, I've been fascinated by its
      underpinnings. This explores a lesser known corner of music theory called Neo-Riemannian Theory, an alternative to
      the traditional Roman Numerals.</p>

    <p>I enjoy visualizing abstract concepts through code (as I have <a target="_blank"
        href="https://github.com/liamrosenfeld/FourierArtist">previously done with the Fourier Transform</a>) and I saw
      this as an exciting opportunity to provide an educational and exploratory tool for the Tonnetz and for
      Neo-Riemannian Theory as whole.</p>

    <h2>Usage</h2>

    <p>This is not meant to be a a silver bullet for chord generation. Like all of music theory, this is just a tool. This
      implementation of the tool is meant to be a vehicle for exploration, and <strong>I hope you have a fun time
        exploring.</strong></p>
  </div>
  
  <%- include partials/header-script %>
</body>

</html>
