<!DOCTYPE html>
<html lang="en">

<head>
  <%- include partials/meta %>
  <%- include partials/uni-css %>
  <%- include partials/header-css %>
  <%- include partials/text-css %>
</head>

<body>
  <%- include partials/header-html %>

  <div id="content">
    <%- content %>
  </div>
  
  <%- include partials/header-script %>
</body>

</html>
